*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: rgb(20, 22, 22);
    color: rgb(179, 184, 138);
}

.App{
    padding: 32px;
}

h1 {
    font-size:40px;
    font-weight:700;
    margin-bottom:32px;
}

h4{
    font-size: 18px;
    color:blanchedalmond;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 16px;
}

.list{
    position: relative;
    background-color: rgb(36, 39, 39);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px;
}

.list:hover{
    opacity:0.8;
}

.list .text{
    font-size: 20px;
}

.list .btn-delete{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    width: 60px;
    height: 30px;
    color: whitesmoke;
    background-color: rgb(212, 94, 94);
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list .btn-edit{
    position: absolute;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);

    width: 60px;
    height: 30px;
    color: whitesmoke;
    background-color: rgb(146, 151, 106);
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.addPopup {
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;
    border-radius: 999px;
    font-size: 28px;
    font-weight: 900;
    color: blanchedalmond;
    background-image: green;
}

.popup {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 400px;
    background-color: rgb(61, 66, 66);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 3 24px rgb(36, 39, 39);
}

.closePopup{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    color: rgb(36, 39, 39);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    border-radius: 50%;
}

.choices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.choice{
    padding: 5%;
    margin: 5px 5px 5px 5px;
    color: whitesmoke;
    background-color: rgb(212, 94, 94);
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:active{
    background-color: rgb(185, 142, 142);
}